@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/font-awesome/css/font-awesome.css";

body {
  color: #666666;
}

@font-face {
  font-family: "montserrat";
  src:url("./assets/font/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

*, body, button {
  font-family: montserrat;
}

p.disclaimer {
  text-align: justify;
  font-size: 0.8em;
  margin-top: 20px;
}

.btn-primary {
  background-color: #00a6bf;
}
.btn-primary:hover {
  background-color: #00a6bf;
  opacity: 0.8;
}

.loader {
  text-align: center;
  width: 100%;
  display: block;
  margin-top: 10px;
  font-size: 20px;
}
