<section *ngIf="billData">

  <ul class="list-group">
    <li class="list-group-item">
      <div class="col-2">
        <fa name="flag-o"></fa>
      </div>
      <div class="col-10">
        <h3>{{ billData.drugstore.name }}</h3>
        <p>Total: {{ billData.bill.total | formatCurrency }}</p>
      </div>
    </li>
    <li class="list-group-item" *ngFor="let medicine of billData.bill.medicines">
      <div class="col-2">
        <fa name="flask"></fa>
      </div>
      <div class="col-10">
        {{ medicine.amount }} unidade(s) <br />
        <strong>{{ medicine.name }}</strong> <br />
        {{ medicine.total | formatCurrency }}
      </div>
    </li>
  </ul>

</section>
